
#settings {
    width: 800px;
    margin: 0 auto;
}

#reflector-box {
    background-color: rgb(240,240,240);
    border: solid 1px black;
    height: 100px;
    width: 100px;
    float: left;
    margin: 0 30px 0 30px;
    border-radius: 5%;
    text-align: center;
}

.rotor-box {
    float: left;
    width:100px;
    margin: 0 30px 0 30px;
    text-align: center;

}


.rotor-radio-box {
    background-color: rgb(240,240,240);
    border: solid 1px black;
    height: 100px;
    width: 100px;

    margin: 0 0 6px 0;
    border-radius: 5%;
    text-align: center;
}



#rotor3-box {
      float: left;
}






#input {
  background-color: rgb(200,240,200);
}


#output {
  background-color: rgb(200,200,240);
}

#boxes {
    width: 800px;
    margin: 0 auto;
}

#input-box {
    width: 260px;
    height: 2em;
}

#text-input {
    width: 220px;
    height: 60px;
}

#output-box {
    width: 240px;
    height: 2em;
}

#keys {
    width: 900px;
    margin: 0 auto;
}

#preamble {
    text-align: center;
}



.boxy {
  float: left;
  height: 140px;
  width: 250px;
  border-radius: 5%;
  margin: 20px 30px 30px 30px;
  padding: 10px 10px 30px 10px;
  font-size: 1.2em;
  border: solid 1px grey;
}

.clear-float {
  clear: both;
}

.key {
  height: 20px;
  width: 20px;
  background-color: rgb(230,240,240);
  border-radius: 50%;
  float: left;
  margin: 4px;
  padding: 16px;
  border: solid 2px black;
  text-align: center;

  /* https://css-tricks.com/almanac/properties/u/user-select/ */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#q {
  margin-left: 50px;
}

#a {
  margin-left: 70px;
}

#z {
  margin-left: 108px;
}
